<div align="center" class="well" style="margin-top:2%">
  <h3>
      Declaration of Love - это онлайн-сервис для анонимных признаний в любви и симпатии. Здесь вы можете дать выход чувствам, мыслям и эмоциям. Не держи в себе - поделись с Declaration of Love!
  </h3>
</div>
<div class="row">
	<div align = "center">
		<h3>Полезные записки:</h3>
	</div>
	<div class="col-md-6 col-md-offset-3" align="center">
		<div class="well">
			<strong>ВЫ</strong> управляете контентом. Сообщение с оскорбительным содержанием? Сообщение с нецензурной лексикой? Ставьте <em>палец вниз</em> и вскоре злодей будет наказан (сообщение будет удалено). Полезные сообщения вы можете поднять, поставив <em>палец вверх</em>.
		</div>
	</div>
</div>
<!--here must be social buttons--!>