<div align="center" class="well">
  <h3>
      Declaration of Love - это онлайн-сервис созданный для обмена признаниями о нежных чувствах к кому-либо. Здесь люди могут открыться и поделиться со своими чувствами максимально откровенно, так как сервис <b>полностью анонимен</b>.
  </h3>
</div>
<div class="container">
	<div class="row">
		<div align = "center">
			<h3>Полезные записки:</h3>
		</div>
		<div align="center">
			<div class="well">
				<b>ВЫ</b> управляете контентом. Сообщение с оскорбительным содержанием? Сообщение с нецензурной лексикой? Ставьте <i>палец вниз</i> и вскоре злодей будет наказан (сообщение будет удалено). Полезные сообщения вы можете поднять, поставив палец вверх.
			</div>
		</div>
	</div>
</div>
<!--here must be social buttons--!>