<div align="center" class="well">
  <h3>
      Love DM - это онлайн-сервис для анонимных признаний в любви и симпатии. Здесь вы можете дать выход чувствам, мыслям и эмоциям. Не держи в себе - поделись с Love DM!
  </h3>
</div>
<div class="container">
	<div class="row">
		<div align = "center">
			<h3>Полезные записки:</h3>
		</div>
		<div align="center">
			<div class="well">
			<strong>ВЫ</strong> управляете контентом. Сообщение с оскорбительным содержанием? Сообщение с нецензурной лексикой? Ставьте <em>палец вниз</em> и вскоре злодей будет наказан (сообщение будет удалено). Полезные сообщения вы можете поднять, поставив <em>палец вверх</em>.
			</div>
		</div>
	</div>
</div>
<!--here must be social buttons--!>