<!DOCTYPE html>
<html>
<head>
  <title>Declaration of Love - онлайн-сервис любовных посланий</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css.map">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css.map">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script data-turbolinks-track="true" src="js/bootstrap.js"></script> 
</head>
<body>
<div align="left" style="background:Indigo;padding-top:0.01%;padding-left:7%; padding-bottom:1%">
	<h1>
		<a href="/" style="color:white;">
			Declaration of Love
		</a>
	</h1>
</div>
<%= yield %>
</body>
</html>

