<!DOCTYPE html>
<html>
<head>
  <title>I Love You - выскажи свои чувства!</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css.map">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css.map">
</head>
<body>
<div align="left" style="background:Indigo;padding-top:0.01%"><h1 style="color:white;padding-left:8%; padding-bottom:1.7%" >I Love You </h1></div>
<%= yield %>
</body>
</html>

